<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.spring.first.Student" name="student1">
        <property name="studentID">
            <value>22344</value>
        </property>

        <property name="studentName">
            <value>Vedika Jain</value>
        </property>


        <property name="studentAddress">
            <value>Delhi</value>
        </property>

    </bean>




</beans>