<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--first bean-->
    <bean class="com.spring.collections.Emp"  name="emp1">
        <property name="name" value="Radhe"/>

        <property name="phones">
            <list>
                <value>123</value>
                <value>1234</value>
                <value>12345</value>
            </list>
       </property>
        <property name="address">
            <set>
                <value>Delhi</value>
                <value>Dubai</value>
                <value>Indore</value>
                <value>Delhi</value>
            </set>
        </property>
        <property name="courses">
            <map>
               <entry key="java" value="2months"/>
                <entry key="Python" value="3months"/>
                <entry key="C++" value="4months"/>
                <entry key="java1" value="2months"/>
            </map>
        </property>
    </bean>
    <!--Second bean-->
    <bean class="com.spring.first.Student" name="student2" p:studentID="123" p:studentName="Vedika Jain"
          p:studentAddress="Delhi"/>







</beans>