<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">


    <bean class="com.spring.auto.wire.Address" name="address">
        <property name="street" value="Temp Street"/> <!---->
        <property name="city" value="Delhi"/>
        <!--here we cannot use autowiring because here the property is String type -->
    </bean>
    <!--but here we can use autowiring because here we have Object type i.e address -->
    <bean class="com.spring.auto.wire.Emp" name="emp1" autowire="byName"/>

</beans>
